@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.modal-overlay.blur {
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0);
}

.custom-font {
    font-family: "Oswald", sans-serif;
}


.custom-font .title {
    font-weight: 500;
    letter-spacing: 1.2px;
}

.custom-font .description {
    font-weight: 300;
    letter-spacing: 2.2px;
}


.create .ql-editor {
    font-size: 1.3em;
}

.create-dark .ql-editor {
    font-size: 1.3em;
    color: white;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
    color: gray;
}

/* Reactr Quill Editor Style */
h1 {
    font-size: 2em !important;
    margin-bottom: .51em !important;
    line-height: 1em;
}

h2 {
    margin-bottom: .5em !important;
    font-size: 1.5em !important;
    margin-top: .5em !important;
}

pre {
    margin-bottom: 1.5em !important;
    width: 100%;
    border-left: gray solid;
    padding: 0 1em;
}

pre.ql-syntax {
    overflow: auto;
}

ul>li {
    list-style: circle;
    margin-bottom: 5px;
    margin-left: 1.5em;
}

ol>li {
    list-style: decimal;
    margin-bottom: 5px;
    margin-left: 1.5em;
}